CitadelHudMovementSpeed
{
    transition-property: position;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    horizontal-align: center;
    vertical-align: center;
    flow-children: down;
    margin-top: 88px;
    /* margin-top: 228px; */
    width: 300px;
    visibility: collapse;
}

CitadelHudMovementSpeed.showMovespeed
{
    visibility: visible;
}

CitadelHudMovementSpeed.showMovespeed.gShopOpen
{
    visibility: collapse;
}

.SpeedometerEnabled CitadelHudMovementSpeed
{
    visibility: visible;
}

.SpeedometerEnabled CitadelHudMovementSpeed .movementSpeedGraphRow
{
    visibility: collapse;
}

.SpeedometerEnabled CitadelHudMovementSpeed.gShopOpen
{
    visibility: collapse;
}

.connectedToHeroTesting.SpeedometerEnabled CitadelHudMovementSpeed.showMovespeed .movementSpeedGraphRow
{
    visibility: visible;
}

#MovementSpeed
{
    horizontal-align: center;
    width: 80px;
    height: 10px;
    overflow: clip;
    background-color: none;
}

.movementSpeedGraphRow
{
    flow-children: right;
    width: 100%;
    height: 80px;
    margin-top: 4px;
}

#MovementSpeedGraphAxis
{
    width: 44px;
    height: 100%;
}

#MovementSpeedGraphAxis .axisLabel
{
    font-family: sans;
    font-size: 11px;
    color: #FFFFFFAA;
    horizontal-align: right;
    margin-right: 4px;
}

.axisLabelTop
{
    vertical-align: top;
}

.axisLabelBottom
{
    vertical-align: bottom;
}

#MovementSpeedGraph
{
    width: fill-parent-flow( 1.0 );
    height: 100%;
    background-color: #00000050;
    border: 1px solid #FFFFFF22;
}

#MovementSpeed .ProgressBarLeft
{
    height: 100%;
    width: 100%;
    background-color: none;
    border-right: none;
}

#MovementSpeed .ProgressBarRight
{
    height: 100%;
    width: 100%;
    background-color: #00000000;
}

#MovementSpeedCurrent,#MovementSpeedLabel
{
    font-family: block;
    color: white;
    font-size: 14px;
}

#MovementSpeedLabel
{
    visibility: collapse;
}

.isNegative #MovementSpeed .ProgressBarLeft
{
    border-right: none;
    background-color: none;
}

.isPositive #MovementSpeed .ProgressBarLeft
{
    border-right: none;
    background-color: none;
}

.movementSpeedContainer
{
    flow-children: down;
    horizontal-align: center;
    text-align: center;
    width: 80px;
}

.movementSpeedContainer Label
{
    horizontal-align: center;
    font-weight: bold;
    font-family: block;
}

#BaseMovementSpeedPanel
{
    horizontal-align: center;
    margin-right: 2px;
    width: 3px;
    height: 100%;
    background-color: none;
    z-index: 99;
}

